<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <div class="layui-tab layui-tab-brief">
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                提升开发效率 分享给大家
                                <a href="Extensions.zip" target="_blank">下载源码</a>    
                            </div>
                            <div class="layui-tab-item layui-show">
                                <pre>
interface String {
	/**
	 * String.format(...replacements: string[]): string
	 * @example "This is an {0} for {0} purposes: {1}".format("example", "end");
	 * @ref http://stackoverflow.com/questions/20070158/string-format-not-work-in-typescrypt
	 */
    format(...replacements: string[]): string;
	/**
	 * 左填充，默认为空格填充
	 */
	padLeft(totalWidth: number, paddingChar?: string): string;
	/**
	 * 右填充，默认为空格填充
	 */
	padRight(totalWidth: number, paddingChar?: string): string;
	/**
	 * 确定此字符串实例的开头是否与指定的字符串匹配
	 */
	startsWith(str: string): boolean;
	/**
	 * 确定此字符串实例的结尾是否与指定的字符串匹配
	 */
	endsWith(str: string): boolean;
	/**
	 * 移除末尾空白
	 */
	trimEnd(): string;
	/**
	 * 移除起始空白
	 */
	trimStart(): string;
}
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js"></script>
    <script>
     var element = layui.element;
    </script>
</body>
</html>